body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);

}

.logo{
    width: 150px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a ;
    transition: color 0.3s ease;
}

.nav-links li a:hover{
    color: #5a3925;
}

.nav-left{
    display: flex ;
    align-items: center;
}
.user-account{
    font-size: 22px;
    margin-right: 5px;
    color: #333;
    text-decoration: none; 
}

.logo{
    height: 50px;
}

.product{
    display: inline-block;
    margin: 20px;
    padding: 5px;
    border: 1px solid#ddd;
    text-align: center;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}
.product img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.product h6{
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1px;
    margin-top: 1px;
    color: purple;
}
.product h3{
    font-size: 0.60cm;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.product p{
    font-weight: bolder;
    text-align: center;
}


button {
    display: inline-block;
    font-size: 1rem;
    background-color: pink;
    background: #dc3545;
    text-decoration: none;
    margin-top: 10px ;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #c82333;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

.hero {
    background-image: url('../img/hero.png');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: white;
    background-color:
    rgba(14, 13, 13, 0.5);   
    padding: 20px;   
}
.hero h1{
    font-size: 2rem;
    color: #0a0a0a;
}

.hero h2{
    color: #1a1a1a;
}
.hero p{
    font-size: 2rem;
    color: rgb(34, 13, 5);
}

.hero .btn{
    color: #5a3925;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 10px ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 100;
}

.categories {
     padding: 5px 10px;
} 

.category-list { 
    display: flex; 
    justify-content: center; 
    gap: 15px;
    padding: 5px 10px;
}

.category {
    padding: 10px;   
    background: #4ce2ce;   
    color: rgb(19, 18, 18);
    border-radius: 5px;
    padding: 5px 10px;
}

.feature img{
    width: 100%;
    height: 200px;
    border-radius:20px ;
}
.feature{
    width: 20%;
    min-width: 50px;
    padding: 5px 5px;
    border: 0.1px solid#cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}
.feature :hover{
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.06);
}
.feature h5{
    font-size:25px ;
    padding: none;
}
.feature{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid#ddd;
    text-align: center;    
}


.container {
    width: 80%;
    max-width: 400px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px
    rgba(0,0,0,0.1);
    }
    .form-group {
    text-align: center;
    margin-bottom: 10px;
    }
    
    label {
    font-weight: bold;
    display: block;
    }
    input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 1px;
    }
     .cart-item, .wishlist-item {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .cart-item img,.wishlist-item img {
            border-radius: 5px;
        }
        

        h2 {
            color: #333;
        }
        
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            background: white;
        }
        
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: center;
        }
        
        th {
            background: #007bff;
            color: white;
        }
        
        td img {
            width: 50px;
            height: auto;
        }

        
        
       
        

    
    
    
    
    